.view_wrapper {
  margin-bottom: 10px;
  text-align: right;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}
.view_wrapper * {
  display: inline-block;
  vertical-align: bottom;
}
.button {
  color: white;
  background-color: white;
  margin-left: 5px;
  padding: 5px;
}
.button:hover {
  box-shadow: 0 2px 0 0 #1d8ece;
}
.add_link {
  margin-left: 15px;
  padding:7px 17px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #1d8ece;
  color: white;
}
.add_link:hover {
  background-color: #42a9e2;
}
.scrum_link {
  background-color: white;
  margin-left: 5px;
  font-size: 0px;
  padding: 5px;
}
.scrum_link:hover {
  box-shadow: 0 2px 0 0 #1d8ece;
}
.view_icon_wrapper {
  border-top: 2px solid #1d8ece;
}
.img {
  width: 17px;
  height: auto;
}
