.task_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  margin: 40px 0 15px;
  border-radius: 3px;
  border-top: 3px solid #1772a5;
  color: white;
  background-color: #1d8ece;
  padding: 3px 17px;
  font-size: 14px;
}
.link:hover {
  background-color: #42a9e2;
}
.input {
  margin-right: 2px;
  border-bottom: 1px solid #c8c8c8;
}
.form label {
  color: #808080;
  font-size: 12px;
  display: block;
}
.title {
  display: block;
  width: 200px;
}
.desc {
  display: block;
  width: 200px;
}
.elapsedTime {
  width: 40px;
}
.plannedTime {
  width: 40px;
}
.date {
  width: 75px;
  margin-right: 3px;
}
.date_wrapper {
  display: block;
}
.time_wrapper {
  display: block;
}
.select {
  display: block;
  width: 105px;
  padding-left: 2px;
  background-color: white;
  margin-right: 3px;
  border-bottom: 1px solid #c8c8c8;
  padding: 2px 3px;
}
.title,.desc,.elapsedTime,.plannedTime,.date {
  border-bottom: 1px solid #c8c8c8;
  padding: 3px 5px;
}
.title:focus,.desc:focus,.elapsedTime:focus,.plannedTime:focus,.date:focus,.select:focus {
  border-bottom: 1px solid #1d8ece;
}
.title_wrapper, .desc_wrapper {
  padding: 10px;
}

.date_n_time_wrapper {
  display: flex;
  width: 210px;
  padding: 10px;
}
.status_n_priority_wrapper {
  display: flex;
  width: 210px;
  padding: 10px;
}
.inputs_wrapper {
  display: flex;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.button {
  background-color: #1d8ece;
  color: white;
  padding: 7px 17px;
  border-radius: 3px;
}
.button:hover {
  background-color: #42a9e2;
}
.span {
  color: black;
}
