.filter_wrapper {
  padding: 15px 0 5px;
  display: flex;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  border-top: 1px solid #808080;
  font-size: 13px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.span {
  font-size: 10px;
}
.button {
  width: 40%;
  overflow: hidden;
  padding: 0 0 0 5px;
  font-size: 13px;
  background-color: white;
  color: #808080;
  text-align: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
.button:hover {
  background-color: white;
  color: #808080;
}
.time_header {
  width: 20%;
  overflow: hidden;
  background-color: white;
  color: #808080;
  line-height: 22px;
}
.priority_header {
  width: 20%;
  background-color: white;
  color: #808080;
  line-height: 22px;
}
.select {
  width: 20%;
  overflow: hidden;
  padding: 0px;
  font-size: 13px;
  text-align: left;
  background-color: white;
  color: #808080;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

@media screen and (max-width: 400px) {
  .filter_wrapper {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
  }
  .select {
    font-size: 12px;
  }  
}
