.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  min-width: 320px;
  width: 100%;
  font-family: 'Arial, "Helvetica Neue", sans-serif';
}
.column {
  height: 100%;
  margin: 0 auto;
  background-color: #1d8ece;
  padding-bottom: 1px;
}
.head {
  text-align: center;
  padding: 10px;
  font-size: 17px;
  background-color: #1772a5;
  color: white;
}
.item {
  padding: 10px;
  margin: 10px;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
}
.button {
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 15px;
  border: none;
  border-top: 3px solid #1772a5;
  color: white;
  background-color: #1d8ece;
  padding: 3px 17px;
  font-size: 14px;
}
.button:hover {
  background-color: #42a9e2;
}
