.task {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
}
.task_title {
  width: 40%;
  overflow: hidden;
  font-weight: 500;
  padding-left: 5px;
}
.task_time {
  width: 20%;
  overflow: hidden;
}
.task_priority {
  width: 20%;
  overflow: hidden;
}
.task_status {
  width: 20%;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 5px;
}
.task_desc {
  font-size: 13px;
  padding-left: 5px;
}
@media screen and (max-width: 400px) {
  .task {
    font-size: 13px;
  }
  .task_desc {
    font-size: 12px;  
  }
}
