* {
  margin:0px;
  padding: 0px;
}
input {
  padding-left: 5px;
  border: none;
}
button {
  border: none;
  cursor: pointer;
}
select {
  border: none;
  cursor: pointer;
}
input, button, select:focus {
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
