.autorization_wrapper {
  position: relative;
  display: inline-block;
  width: 300px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #c8c8c8;
  padding: 9px;
  border-radius: 10px;
  margin-top: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  color:#808080;
}
.input {
  margin-top: 15px;
  border-bottom: 1px solid #808080;
}
.input:focus {
  border-bottom: 1px solid #1d8ece;
}
.button {
  background-color: #1d8ece;
  margin-top: 15px;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.button:hover {
  background-color: #42a9e2;
}
