.link {
  color: #525252;
  display: block;
  border-top: 1px solid #c8c8c8;
  padding: 8px 0;
}
.link:hover {
  background-color: #fafafa;
}
.link:last-child {
  border-bottom: 1px solid #c8c8c8;
}
.tasks_wrapper {
   max-width: 600px;
   min-width: 320px;
   width: 100%;
}
